<div class="side-menu">
    <h4>Masters</h4>
    <ul>
        <li>
            <a routerLink="masters/page1">page1

      </a>
        </li>
        <li>
            <a routerLink="masters/page2">
        page2

      </a>
        </li>
    </ul>
    <h4>transactions</h4>

    <ul>
        <li>
            <a routerLink="transactions/page1">
        page1

      </a>
        </li>
        <li>
            <a routerLink="transactions/page2">
        page2

      </a>
        </li>
        <li>
            <a routerLink="transactions/tabs">
        tabs

      </a>
        </li>
    </ul>
    <a (click)="logOut()" style="background: greenyellow">
    logOut
</a>

</div>